{{> header}}

<div class="container" id="test">
    <h1>Welcome to our App!!!</h1>

    <h2>User Story</h2>
    <p>We wanted to create an app that will help you manage perceptions</p>
    <p>in a house, often happens that one person has the impression that is doing more chores than the other one</p>
    <p>This app will help you keep track of the house chores, who did what and keep a score</p>
    <p>Just update your user name and create your chores table</p>
    <p>after a certain period of time, tell us... were your perecptions correct? or the other person was doing more than what you acknowledged?</p>
</div>

{{> footer}}