<div class="container" id="test">
    <h1>Welcome to our App!!!尬</h1>
    
    <img class="homermmmm" src="https://memegenerator.net/img/instances/48081901/hmmm-cleaning.jpg" alt="">

    <h2>User Story</h2>


    <p>We wanted to create an app that will help you manage perceptions in a house. 完</p>
    <p>Often times someone has the impression that they are doing more chores than the other person 完</p>
    <p>This app will help you keep track of the house chores and keep a score, 完</p> 
    <p>Just add your name and create your chores 完</p>
    <p>After a certain chores has completed the User can then clean on completed and get the completed points 完</p>
    <p>In the Summary you can see who got the most points for completed chores 完</p>
</div>