<link rel="stylesheet" href="/css/style.css" type="text/css" />

<div class="container">
  <h2>Enter something User Names</h2>
  <form class="addUser">
    <div class="input-group mb-3">
    <input type="text" class="form-control" id="userInput" placeholder="Add a Name" aria-label="Add a user" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Add</button>
    </div>
  </form>

  <br>
  
  <h2>Add A chore</h2>

  <form class="addChore">

    <div class="input-group mb-3">
    <input type="text" class="form-control" id="choreInput" placeholder="Add a Chore" aria-label="Add a chore" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
    </div>

  </form>

</div>

