<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/inputstyles.css" type="text/css" />
  <title>Chore App!</title>
</head>

<body id="inputBody" class="justify-content-center">

  <div class="container col-md-8" >
    <h2>Enter User Names 🧻</h2>
    <form class="addUser">
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="userInput" placeholder="Add a Name" aria-label="Add a user"
          aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Add</button>
      </div>
    </form>

    <br>

    <h2>Add A chore 🧻</h2>

    <form class="addChore">

      <div class="input-group mb-3">
        <input type="text" class="form-control" id="choreInput" placeholder="Add a Chore" aria-label="Add a chore"
          aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
      </div>

    </form>

  </div>


</body>

</html>