
<div class="container">
  <h2>Vertical (basic) Form</h2>
  <form>
    <div class="form-group">
      <label for="user1">User1:</label>
      <input type="user1" class="form-control" id="user1" placeholder="Enter user1">
    </div>
    <div class="form-group">
      <label for="user2">User2:</label>
      <input type="user2" class="form-control" id="user2" placeholder="Enter user2">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

